@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Passion+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Indie Flower', cursive;
}

body{
    background-color: lightgrey;
    min-height: 100vh;
    font-family: var(--font2);
}

header{
    background-color: black;
}

header > h1{
    color: white;
    text-align: center;
    padding: 50px 20px 0px 20px;
    font-size: 4em;
    font-variant: small-caps;
}

header > p{
    color: lightgray;
    text-align: center;
    padding-bottom: 50px;
    font-size: 1em;
    font-family: var(--font1);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-left: 20px;
    font-family: var(--font3);
    font-weight: bold;
}

section p {
    font-size: 1.5em;
}

footer{
    background-color: black;
}
footer > p{
    text-align: center;
    color: lightgrey;
    font-family: var(--font1);
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section.caixa-solida{
    background-color: white;
    color: black;
}

section.caixa-imagem{
    background-color: rgb(59, 59, 59);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-attachment: fixed;
}

section.caixa-imagem > p{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

section#img001 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img002 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}